<h1>Upcoming Events</h1>

<% @upcoming_events.each do |event| %>
  <div class="event">
    <h2><%= event.event_name %></h2>
    <p><%= event.location %></p>
    <p><%= event.event_date %></p>
    <% unless event.attendees.include?(current_user) %>
      <%= button_to 'RSVP', rsvp_event_path(event), method: :post, class: "btn btn-primary" %>
    <% else %>
      <p>You are going to this event.</p>
    <% end %>
    <%= button_to "View Details", event_path(event.id), method: :get %>
  </div>
<% end %>

<h1> Past Events </h1>

<% @past_events.each do |event| %>
  <div class="event">
    <h2><%= event.event_name %></h2>
    <p><%= event.location %></p>
    <p><%= event.event_date %></p>
    <%= button_to "View Details", event_path(event.id), method: :get %>
  </div>
<% end %>

<h1> Undated Events </h1>

<% @undated_events.each do |event| %>
  <div class="event">
    <h2><%= event.event_name %></h2>
    <p><%= event.location %></p>
    <p><%= event.event_date %></p>
    <% unless event.attendees.include?(current_user) %>
      <%= button_to 'RSVP', rsvp_event_path(event), method: :post, class: "btn btn-primary" %>
    <% else %>
      <p>You are going to this event.</p>
    <% end %>
    <%= button_to "View Details", event_path(event.id), method: :get %>
  </div>
<% end %>