<h1><%= @event.event_name %></h1>

<p><strong>Date:</strong> <%= @event.event_date %></p>
<p><strong>Location:</strong> <%= @event.location %></p>
<p><strong>Description:</strong> <%= @event.details %></p>

<h2>Attendees:</h2>
<% @event.attendees.each do |attendee| %>
    <p><%= attendee.email %></p>
<% end %>

<h3>Creator: <%= @event.creator.email %></h3>